[submodule "zero-shot-classification-boost-with-self-training"]
	path = zero-shot-classification-boost-with-self-training
	url = https://github.com/IBM/zero-shot-classification-boost-with-self-training.git
