# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/

.idea/

zero-shot-classification-boost-with-self-training/datasets
zero-shot-classification-boost-with-self-training/__pycache__
zero-shot-classification-boost-with-self-training/output
zero-shot-classification-boost-with-self-training/output.log
zero-shot-classification-boost-with-self-training/get_pred.ipynb

models
output.log
config.json
src/notebooks/bert_baseline_predictions_test.csv
src/notebooks/bert_predictions_test.csv
data/predictions